body {
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }

  #mode-toggle {
    display: block;
    margin: 20px;
    width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 50%;
    margin-left: 90%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 0;
  
  }
  #mode-toggle img {
    width: 20px;
    height: 20px;
  }

.btn-tog{
    margin-top: 30px;
    margin-left: 20px;
    position: fixed;
    background-color: #333;
    color:  #f8f8f8;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.btn-tog-t{
    background-color: #f8f8f8;
    color: #333;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #333;
    color: #f8f8f8;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    margin-top: 63px;
    margin-left: 20px;
    overflow-x: hidden;
    transition: width 0.5s ease;
  }

  .side-dark{
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }

  .sidebar img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-top: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .side-ul {
    margin-top: 20vh;
    list-style: none;
  }
  .side-li {
    margin: 20px;
    background-color: rgb(41, 80, 116);
    height: 30px;
    color: aliceblue;
    margin-left: -30px;
    border-radius: 20px;
  }

  .side-li div {
       color: #f8f8f8;
       display: flex;
       justify-content: center;
       text-decoration: none;
  }


.craft-box{
    visibility: hidden;
    color:rgb(255, 255, 255);
    margin-top: 0px;
    padding-left: 20px;
    width: 70%; 
    height: 800px; 
    margin-left: 50px; 
    background-color: rgb(41, 80, 116);
    border: 5px solid rgb(15, 42, 163);
    border-radius: 0px;
    z-index: -2;
    box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
    position: fixed;
}


.mess-box{
  visibility: hidden;
  color:rgb(255, 255, 255);
  margin-top: 0px;
  padding-left: 50px;
  width: 70%; 
  height: 800px; 
  margin-left: 50px; 
  background-color: rgb(41, 80, 116);
  border: 5px solid rgb(15, 42, 163);
  border-radius: 0px;
  z-index: -2;
  box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
  position: fixed;
}

.robo-box{
  visibility: hidden;
  color:rgb(255, 255, 255);
  margin-top: 0px;
  padding-left: 50px;
  width: 70%; 
  height: 800px; 
  margin-left: 50px; 
  background-color: rgb(41, 80, 116);
  border: 5px solid rgb(15, 42, 163);
  border-radius: 0px;
  z-index: -2;
  box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
  position: fixed;
}

.lab-box{
  visibility: hidden;
  color:rgb(255, 255, 255);
  margin-top: 0px;
  padding-left: 50px;
  width: 70%; 
  height: 800px; 
  margin-left: 50px; 
  background-color: rgb(41, 80, 116);
  border: 5px solid rgb(15, 42, 163);
  border-radius: 0px;
  z-index: -2;
  box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
  position: fixed;
}

.room-box{
  visibility: hidden;
  color:rgb(255, 255, 255);
  margin-top: 0px;
  padding-left: 50px;
  width: 70%; 
  height: 800px; 
  margin-left: 50px; 
  background-color: rgb(41, 80, 116);
  border: 5px solid rgb(15, 42, 163);
  border-radius: 0px;
  z-index: -2;
  box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
  position: fixed;
}

.cert-box{
  visibility: hidden;
  color:rgb(255, 255, 255);
  margin-top: 0px;
  padding-left: 50px;
  width: 70%; 
  height: 800px; 
  margin-left: 50px; 
  background-color: rgb(41, 80, 116);
  border: 5px solid rgb(15, 42, 163);
  border-radius: 0px;
  z-index: -2;
  box-shadow: 0 0 30px rgba(93, 32, 32, 0.5);
  position: fixed;
}

.chat-1{
  visibility: visible;
}

.canva-div{
    display: inline-block;
    justify-content: center;
}

#canvas {
  margin-top: -2%;
  margin-left: -0.6%;
  visibility: visible;
  z-index: -20;
  position: fixed;
}
#canvasRobo{
  margin-top: 0%;
  margin-left: -2%;
  visibility: visible;
  z-index: -22;
  position: fixed;
}

#change-script-btn{
   margin-bottom: 100px;
   background-color: rgb(41, 80, 116);
   color: #f8f8f8;
   margin-right: 20px;
   height: 50px;
   box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}


.imp-btn{
   display: flex;
   justify-content: center;
   position: fixed;
   margin-left: 40%;
   margin-top: 100px;
}

#craftstore{
  display: none;
  margin-left: 0%;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  height: 40px;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}
#mess{
  display: none;
  margin-left: 0%;
  height: 40px;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}
#lab{
  display: none;
  margin-left: 0%;
  height: 40px;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);

}
#robo{
  display: none;
  margin-left: 0%;
  height: 40px;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);

}
#cert{
  display: none;
  margin-left: 0%;
  height: 40px;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}
#room{
  display: none;
  margin-left: 0%;
  height: 40px;
  background-color: rgb(41, 80, 116);
  color: #f8f8f8;
  width: 100px;
  margin-top: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}

.main-page{
     display: flex;
     justify-content: left;
}

.inst {
  margin-top: 1%;
  width: 200px;
  height: 400px;
  margin-left: 2%;
  font-size: 90%;
  background-color: rgb(41, 80, 116);
  padding: 20px;
  color: #f8f8f8;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}

.inst h3{
     text-align: center;
     text-decoration: solid;
}



.container {
  margin-top: -200px;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  padding: 20px;
  margin-bottom: 150px;
}
.container img {
  display: inline-block;
  height: 300px;
  margin-right: 20px;
  object-fit: cover;
}
.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.content {
  font-size: 16px;
  line-height: 1.5;
  margin-left: 0px;
  padding-bottom: 200px;
  text-align: justify;
}

.content p a{
     color: #f8f8f8;
}

.resume{
   margin-left: 100px;
   width: 800px;
}
#resume-div {
  width: 100%; 
  height: 800px; }
  
object {
  width: 100%; 
  height: 100%; 
}


.round-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-left: 10%;
}

.github-icon {
  width: 32px;
  height: 32px;
}

.links{
    display: inline-block;
    justify-content: left;
}

.github-link{
      margin-top: 0.5%;
      color: #f8f8f8;
}


@media screen and (min-width: 480px) {


  .change-script-btn{
      margin-top: 500px;
  }
}


.option-menu {
    background-color: rgb(41, 80, 116);
    color: white;
    width: 200px;
    height: 150px;
    margin-left:  -16%; 
    margin-top: 20%;
    position: relative;
    display: none;
    
}
.option-menu ul{
     list-style: none;
     margin-top: -5%;
     margin-right: 20%;
}
.option-menu ul li{
     margin-top: 2%;
     background-color: rgb(14, 39, 62);
     padding-left: 20%;
}
